@page "/"

<PageTitle>Index</PageTitle>

<h1>::Deep bug repro</h1>

<h2>Listing:</h2>
<div style="max-width: 300px;">
    <Listing>
    <div>
        <span>
            Key1
        </span>
        <span>
            Val1
        </span>
    </div>
    <div>
        <span>
            Key2
        </span>
        <span>
            Val2
        </span>
    </div>
    <div>
        <span>
            Key3
        </span>
        <span>
            Val3
        </span>
    </div>
</Listing>
</div>
<hr/>
<h2>Listing2:</h2>
<div style="max-width: 300px;">
    <Listing2>
        <div>
            <span>
                Key1
            </span>
            <span>
                Val1
            </span>
        </div>
        <div>
            <span>
                Key2
            </span>
            <span>
                Val2
            </span>
        </div>
        <div>
            <span>
                Key3
            </span>
            <span>
                Val3
            </span>
        </div>
    </Listing2>
</div>